<% provide(:title, 'Editing User') %>
<h1>Editing User</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>


      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :cpf %>
      <%= f.text_field :cpf, class: 'form-control' %>
      
      <label>Administrator?</label>
      <div class="form-control">
        <%= f.check_box :isadministrator %>
      </div>
      

      <%= f.submit "Update User", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= link_to 'Show', @user, class: "btn"%> |
<%= link_to 'Back', users_path, class: "btn" %>