<h1>Listings Documents</h1>
<table class="table table-striped table-hover">
  <% if logged_in? %>
      <% unless is_administrator? %>
      <%= form_tag(docs_path, :method => "get", class: "form-control") do %>
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Docs" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
           of using a Rails form helper -->
      <button type="submit" class="btn btn-default">Search</button>
  <% end %>
  <% end %>
  <% end %>
  <%= pie_chart Doc.group(:categories_id).count %>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Categorie</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
    <tr>
      <td><%= file.title %></td>
      <td><%= file.author %></td>
      <td><%= file.description %></td>
      <td><%= Category.find_by(id: file.categories_id).name %></td>
      <td><%= link_to file.filename,'/uploads/'+file.filename %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "New", new_doc_path , class: "btn btn-primary" %></p>
