<h1>File Uploader</h1>
<%= form_for @file, :url => url_for(:controller => 'docs', :action => 'save') do |f| %>
<p>
  <label>Title:</label> <br/>
  <%= f.text_field :title, class: "form-control" %>
</p>
<p>
  <label>Author:</label> <br/>
  <%= f.text_field :author, class: "form-control" %>
</p>
<p>
  <label>Description</label> <br/>
  <%= f.text_field :description, class: "form-control" %>
</p>
<p>
  <label>Category</label> <br/>
  <%= f.collection_select(:categories_id, Category.all, :id, :name, {}, {class: 'form-control'}) %>
</p>




<p><label>Select the file:</label></br>
<%= f.file_field 'filename', class: "form-control" %></p>
<p><%= submit_tag "Save", class: "btn btn-primary" %>
<% end %>