<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= Category.find_by(id: category.categories_id).name %></td>
        <div class="btn-group btn-group-justified">
          <td><%= link_to 'Show', category, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </div>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: "btn btn-primary" %>