<% provide(:title, 'New Category') %>
<h1>New Category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@category) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <label>General Category</label>
      <%= f.collection_select :categories_id, Category.all, :id, :name, {}, {class: 'form-control'} %>
      
      <%= f.submit "create", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
<%= link_to 'Back', categories_path, class: "btn" %>