<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "UNASP Files", root_path,  id: "logo", class: "navbar-brand" %>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                    <li><%= link_to "About", about_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <% if logged_in? %>
                  <li><p class="nav btn">Hello <%= current_user.name %>!</p></li>
                  <% unless is_administrator? %>
                  <li><%= link_to "Categories", categories_path %></li>
                  <li><%= link_to "Documents", docs_path %></li>
                  <% else %>
                  <li><%= link_to "Users", users_path %></li>
                  <% end %>
                  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                  <% else %>
                  <li><%= link_to "Login", login_path %></li>
                  <% end %>
                </ul>
            </div>
        </div>
    </div>